/* colors */
:root {
    --primaryCyan: hsl(193, 38%, 86%);
    --primaryGreen: hsl(150, 100%, 66%);
    --darkBlue: hsl(218, 23%, 16%);
    --grayBlue: hsl(217, 19%, 38%);
    --darkGrayBlue: hsl(217, 19%, 24%);
}
/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@500;700&family=Hanken+Grotesk:wght@500;700;800&family=Karla&family=League+Spartan:wght@500;600;700&family=Lexend+Deca&family=Manrope:wght@700&family=Markazi+Text:wght@500&family=Open+Sans:wght@400;700&family=Poppins:wght@600&family=Rubik:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');

html {
    font-size: 28px;
}

body {
    font-size: 28px;
    background-color: var(--darkBlue);
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Manrope', sans-serif;
}

#card {
    background-color: var(--darkGrayBlue);
    border-radius: 16px;
    max-width: 500px;
    min-height: auto;
    margin: 10px;
    padding: 15px;
    position: relative;
}

h1 {
    color: var(--primaryGreen);
    font-weight: 500;
    font-size: .7rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

p {
    color: var(--primaryCyan);
    text-align: center;
    font-size: 1rem;
}

.line {
    padding-top: 10px;
    padding-bottom: 30px;
}

img {
    display: block;
    width: 100%;
}

button {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: var(--primaryGreen);
    transition: all .5s ease;
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--primaryGreen);
}
.attribution a {
    color: var(--primaryCyan);
}